body {
  margin: 50px;
}

h1 {
  margin-left: 85px;
  color: darkred;
}

table, tr, td {
  padding: 0;
  border: orange;
  margin: 0;
  line-height: 0;

  border-spacing: 0;
  border-collapse: collapse;
}

a {
  text-decoration:none;
}

.message {
  color: red;
}

.pit {
  font-size: 22px;
  text-align: center;
  position: relative;
  color: #170b05;

}

.pit.top {
  bottom: 39px;
}

.pit.middle {
  font-size: 30px;
  font-weight: bold;
  top: 68px;
}

.pit.bottom {
  bottom: 24px;
}